
<div class="container">
<div class="row">
    <h5>Calculons delta </h5> <br>
  </div>

  <div class="row">
      <h5> Δ = <b *ngIf="deltaValue">{{ deltaValue }}</b> </h5>
  </div>
  
<br>
  <button class="btn btn-sm btn-outline-dark" (click)="onKey($event)"> RESULTAT <i class="fa fa-trash"
      aria-hidden="true"></i></button>

      <!-- <h5 *ngIf="solution1"> Δ est {{ mesazy }}; donc la solution est: {{ solution1 }} et {{ solution2 }} </h5> -->
      <h5 *ngIf="solution1"> {{ texta }} </h5>

</div>