<div class="container">
  <div class="row">
    <div class="col-sm"> choisir a: <div class="form-group"><input type="number" class="form-control" [(ngModel)]="nbr_a"> </div> </div>
    <div class="col-sm"> choisir b: <div class="form-group"><input type="number" class="form-control"[(ngModel)]="nbr_b"></div> </div>
    <div class="col-sm"> choisir c: <div class="form-group"><input type="number" class="form-control"[(ngModel)]="nbr_c"></div> </div>
  </div>

  <div class="row">
      <h5>On va resoudre: </h5> <br>
      </div>

<div class="row">
  <h5> {{ nbr_a }}x² + {{ nbr_b }}x +  {{ nbr_c }} = 0 </h5>
</div>

<hr> 
<app-delta [deltaValue]="nbr_b*nbr_b -4*nbr_a*nbr_c"></app-delta>
</div>